:root {
    primary-color: #00f5d4;
    secondary-color: #0f172a;
    accent1-color: white;
    accent2-color: rgb(196, 196, 202) heading-font: "Times New Roman", Georgia, serif;
    body-font: Arial, Helvetica, sans-serif;
}