:root {
    --gerenal-align: center;
    --default-border: 1px solid black;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main {
    max-width: 840px;
    height: auto;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: (--default-border);
    padding: 1rem;
    background-color: rgba(211, 222, 218, 0.159);
    color: black;
    text-align: var(--gerenal-align);

}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: (--default-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

footer {
    margin-top: 15px;
    border-top: (--default-border);
    text-align: var(--gerenal-align);
}